<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button appPermission appPolicy="Permissons.Posts.Create" pButton pRipple label="Thêm mới" icon="pi pi-plus"
              class="p-button-success mr-2" (click)="showAddPostModal()"></button>
            <button appPermission appPolicy="Permissons.Posts.Delete" pButton pRipple label="Xóa" icon="pi pi-trash"
              class="p-button-danger" (click)="deletePosts()"
              [disabled]="!selectedPosts || !selectedPosts.length"></button>
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="posts" responsiveLayout="scroll" [(selection)]="selectedPosts" selectionMode="multiple"
        [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Danh mục bài viết</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input id="txtKeyword" pInputText type="text" (keyup.enter)="loadData()" [(ngModel)]="keyword"
                placeholder="Tìm kiếm..." class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code">Mã <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="name">Tên <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="categoryName">Loại bài viết<p-sortIcon field="categoryName"></p-sortIcon></th>
            <th pSortableColumn="authorUserName">Tác giả<p-sortIcon field="authorUserName"></p-sortIcon></th>
            <th pSortableColumn="viewCount">Lượt xem<p-sortIcon field="viewCount"></p-sortIcon></th>
            <th pSortableColumn="status">Trạng thái<p-sortIcon field="status"></p-sortIcon></th>
            <th pSortableColumn="isActive">Kích hoạt<p-sortIcon field="isActive"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-post>
          <tr>
            <td>
              <p-tableCheckbox [value]="post"></p-tableCheckbox>
            </td>
            <td>
              <span class="p-column-title">Mã</span>
              {{post.code || post.id}}
            </td>
            <td>
              <span class="p-column-title">Tên</span>
              {{post.name}}
            </td>
            <td>
              <span class="p-column-title">Loại bài viết</span>
              {{post.categoryName}}
            </td>
            <td>
              <span class="p-column-title">Tác giả</span>
              {{post.authorUserName}}
            </td>
            <td>
              <span class="p-column-title">Lượt xem</span>
              {{post.viewCount}}
            </td>
            <td>
              <span class="p-column-title">Trạng thái</span>
              {{post.status}}
            </td>
            <td style="width: 150px">
              <p-badge *ngIf="post.isActive == 1" value="Kích hoạt" severity="success"></p-badge>
              <p-badge *ngIf="post.isActive == 0" value="Khoá" severity="danger"></p-badge>
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" pTooltip="Chỉnh sửa" tooltipPosition="top"
                  class="p-button-rounded p-button-success mr-2" (click)="showEditPostModal(post)"></button>
                <button pButton pRipple icon="pi pi-trash" pTooltip="Xóa" tooltipPosition="top"
                  class="p-button-rounded p-button-warning" (click)="deletePost(post)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator (onPageChange)="onPageChange($event)" [rows]="pageSize" [totalRecords]="totalCount"
        [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Hiển thị {first} đến {last} trong tổng {totalRecords} dòng"></p-paginator>
    </div>


    <p-blockUI [target]="dt" [blocked]="blockedPanel">
      <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
        strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
    </p-blockUI>
  </div>
</div>