<form class="form-horizontal form-label-left" skipValidation [formGroup]="form" (ngSubmit)="saveChange()">
    <p-panel #pnlDetail header="Thông tin" [toggleable]="true" [collapsed]="false">
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="code">Mã <span class="required">*</span></label>
                <input id="code" type="text" pInputText formControlName="code" [style]="{ width: '100%' }" />
                <app-validation-message [entityForm]="form" fieldName="code"
                    [validationMessages]="validationMessages"></app-validation-message>
            </div>
            <div class="field col-12 md:col-6">
                <label for="name">Tên <span class="required">*</span></label>
                <input id="name" type="text" pInputText formControlName="name" (keyup)="generateSlug()"
                    [style]="{ width: '100%' }" />
                <app-validation-message [entityForm]="form" fieldName="name"
                    [validationMessages]="validationMessages"></app-validation-message>
            </div>
            <div class="field col-12 md:col-6">
                <label for="slug">Slug<span class="required">*</span></label>
                <input id="slug" type="text" pInputText formControlName="slug" [style]="{ width: '100%' }" />
                <app-validation-message [entityForm]="form" fieldName="slug"
                    [validationMessages]="validationMessages"></app-validation-message>
            </div>
            <div class="field col-12 md:col-6">
                <label for="slUser">Tác giả</label>
                <p-autoComplete id="slUser" [dropdown]="true" [suggestions]="filteredUsers"
                    (completeMethod)="filterUsers($event)" [field]="selectedUserDisplay.bind(this)" [minLength]="1"
                    formControlName="slUser" inputStyleClass="form-control" [style]="{ width: '100%' }">
                    <ng-template let-user pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ user.userName }}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="field col-12 md:col-6">
                <label for="slPostCategory">Loại bài viết</label>
                <p-autoComplete id="slPostCategory" [dropdown]="true" [suggestions]="filteredPostCategories"
                    (completeMethod)="filterPostCategories($event)" [field]="selectedPostCategoryDisplay.bind(this)"
                    [minLength]="1" formControlName="slPostCategory" inputStyleClass="form-control"
                    [style]="{ width: '100%' }">
                    <ng-template let-postCategory pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ postCategory.code }} - {{postCategory.name}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="field col-12">
                <label for="description">Mô tả </label>
                <textarea id="description" type="text" rows="4" pInputTextarea formControlName="description"
                    [style]="{ width: '100%' }"></textarea>
            </div>
            <div class="field col-12 md:col-12">
                <label for="thumbnailFileContent">Hình ảnh</label>
                <input type="hidden" formControlName="thumbnail" />
                <input (change)="onFileChange($event)" type="file" class="w-full" />
            </div>
            <div *ngIf="thumbnailImage" class="field col-12 md:col-12">
                <p-image [src]="thumbnailImage" [preview]="true" [alt]="selectedPost.name" width="250">
                </p-image>
            </div>
            <div class="field col-12">
                <label for="content">Nội dung</label>
                <p-editor formControlName="content" [style]="{ height: '320px' }">
                </p-editor>
            </div>
            <div class="field col-12">
                <label for="seoDescription">Mô tả SEO</label>
                <textarea id="seoDescription" rows="4" pInputTextarea formControlName="seoDescription"
                    [style]="{ width: '100%' }"></textarea>
            </div>
            <div class="field col-12 md:col-12">
                <label for="tags">Tags</label>
                <input id="tags" type="text" pInputText formControlName="tags" [style]="{ width: '100%' }" />
            </div>
            <div class="field-checkbox col-12 md:col-6">
                <p-checkbox formControlName="isActive" [binary]="true" [binary]="true" id="isActive"></p-checkbox>
                <label for="isActive">Kích hoạt</label>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button type="submit" pButton pRipple label="{{ saveBtnName }}" class="btn btn-primary"
                [disabled]="!form.valid || btnDisabled"></button>
        </ng-template>

        <p-blockUI [target]="pnlDetail" [blocked]="blockedPanelDetail">
            <p-progressSpinner
                [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
                strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
        </p-blockUI>
    </p-panel>
</form>