<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button appPermission appPolicy="Permissons.Users.Create" pButton pRipple label="Thêm mới" icon="pi pi-plus"
              class="p-button-success mr-2" (click)="showAddUserModal()"></button>
            <button appPermission appPolicy="Permissons.Users.Delete" pButton pRipple label="Xóa" icon="pi pi-trash"
              class="p-button-danger" (click)="deleteUsers()"
              [disabled]="!selectedUsers || !selectedUsers.length"></button>
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="users" responsiveLayout="scroll" [(selection)]="selectedUsers" selectionMode="multiple"
        [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Danh mục người dùng</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input id="txtKeyword" pInputText type="text" (keyup.enter)="loadData()" [(ngModel)]="keyword"
                placeholder="Tìm kiếm..." class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="fullName">Tên đầy đủ <p-sortIcon field="fullName"></p-sortIcon></th>
            <th pSortableColumn="userName">Tên tài khoản<p-sortIcon field="userName"></p-sortIcon></th>
            <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="phoneNumber">Số điện thoại<p-sortIcon field="phoneNumber"></p-sortIcon></th>
            <th pSortableColumn="dob">Ngày sinh<p-sortIcon field="dob"></p-sortIcon></th>
            <th pSortableColumn="isActive">Kích hoạt<p-sortIcon field="isActive"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td><span class="p-column-title">Tên đầy đủ </span>
              {{user.fullName || user.id}}
            </td>
            <td>
              <span class="p-column-title">Tên tài khoản</span>
              {{user.userName}}
            </td>
            <td>
              <span class="p-column-title">Email</span>
              {{user.email}}
            </td>
            <td>
              <span class="p-column-title">Số điện thoại</span>
              {{user.phoneNumber}}
            </td>
            <td>
              <span class="p-column-title">Ngày sinh</span>
              {{user.dob | date: 'dd/MM/yyyy'}}
            </td>
            <td style="width: 150px">
              <p-badge *ngIf="user.isActive == 1" value="Kích hoạt" severity="success"></p-badge>
              <p-badge *ngIf="user.isActive == 0" value="Khoá" severity="danger"></p-badge>
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" pTooltip="Chỉnh sửa" tooltipPosition="top"
                  class="p-button-rounded p-button-success mr-2" (click)="showEditUserModal(user)"></button>
                <button pButton pRipple icon="pi pi-trash" pTooltip="Xóa" tooltipPosition="top"
                  class="p-button-rounded p-button-warning mr-2" (click)="deleteUser(user)"></button>
                <button pButton pRipple icon="pi pi-key" pTooltip="Đặt mật khẩu" tooltipPosition="top"
                  class="p-button-rounded p-button-rounded mr-2" (click)="setPassword(user.id)"></button>
                <button pButton pRipple icon="pi pi-envelope" pTooltip="Đặt Email" tooltipPosition="top"
                  (click)="changeEmail(user.id)" class="p-button-rounded p-button-rounded mr-2"></button>
                <button pButton pRipple icon="pi pi-users" pTooltip="Gán vai trò" tooltipPosition="top"
                  (click)="assignRole(user.id)" class="p-button-rounded p-button-rounded "></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator (onPageChange)="onPageChange($event)" [rows]="pageSize" [totalRecords]="totalCount"
        [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Hiển thị {first} đến {last} trong tổng {totalRecords} dòng"></p-paginator>
    </div>


    <p-blockUI [target]="dt" [blocked]="blockedPanel">
      <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
        strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
    </p-blockUI>
  </div>
</div>